<% include ../partials/header %>
  <div>
  <h1 style="text-align: center;">Edit Profile</h1>
</div>
  <div class="form" style = "width: 50%;display: block;margin-left: auto;
    margin-right: auto;">
    <form action="/users/<%= user._id %>?_method=PUT" method="POST">
      <div class="form-group">
      </br></br>
      Username:
        <br /> <span style="padding-left:20px"><%= user.username %></span>
      </div>

      <div class="form-group">
      
      Email:
        <br /> <span style="padding-left:20px"><%= user.email %></span>
      </div>


      <div class="form-group">
        <label for="image">Your profile image:</label>
        <input class="form-control" type="text" name="image" value="<%= user.image %>" autocomplete="off" />
      </div>


      <div class="form-group">
          <label for="biography">Biography:</label>
          <input
            class="form-control"
            type="text"
            name="biography"
            value="<%= user.biography %>"
            autocomplete="off"
          />
        </div>

        <div class="form-group">
          <label for="hometown">Hometown:</label>
          <input
            class="form-control"
            type="text"
            name="hometown"
            value="<%= user.hometown %>"
            autocomplete="off"
          />
        </div>
      

        <div class="form-group">
          <label for="major">Major:</label>
          <input
            class="form-control"
            type="text"
            name="major"
            value="<%= user.major %>"
            autocomplete="off"
          />
        </div>

        <div class="form-group">
            <label for="instagram account">Instagram account:</label>
            <input
              class="form-control"
              type="text"
              name="Instagram account"
              value="<%= user.instagramaccount %>"
              autocomplete="off"
            />
          </div>
      

      

      

      Gender: <br>
        <select name="gender" >
            <optgroup label="Please Select A Gender:">
                <option value="" selected disabled hidden>Choose here</option>
                <option >Female</option>
                <option >Male</option>
                <option >Other</option>
            </optgroup>
        </select>
        <br><br>

      Year: <br>
        <select name="year" >
            <optgroup label="Please Select A Year:">
                <option value="" selected disabled hidden>Choose here</option>
                <option >2020</option>
                <option >2021</option>
                <option >2022</option>
                <option >2023</option>
            </optgroup>
        </select>
        <br><br>

     

      


      

      <div class="form-group">
        <button class="btn btn-md btn-primary btn-block">Update Profile</button>
      </div>
    </form>
    <hr />
    <a href="/password_reset">Reset password</a>
    <hr />
    <a href="/users/edit_profile/<%= user._id %>">Back</a>
  </div>
<% include ../partials/footer %>
