<% include ../partials/header %>
<link href="//s.xiaohongshu.com/formula-static/@xhs/launcher@1.5.1/dist/Launcher.css" rel="stylesheet">

<style>
  .card-note .bottom-gap[data-v-f71fb898] {
    margin: 0 0 20px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.author-item .card-info .inner span[data-v-0d757e92] {
    display: block;
    line-height: 20px;
}
.author-item .card-info .inner .collect[data-v-0d757e92], .author-item .card-info .inner .fans[data-v-0d757e92], .author-item .card-info .inner .note[data-v-0d757e92] {
    color: #4f4f4f;
    font-weight: 500;
}


  .photo{
    width:100%;
    padding:0;
  }
  /*show campgrounds la content background  */
  .thumbnail, .horizontal .progress-bar{
    background:#f0f0f0;
  }
  a.thumbnail{
    text-decoration: none;
    color:#232323;
    background: #e0e0e0;
  }
  a.thumbnail:hover{
    text-decoration: none;
    color:#f0f0f0;
    background: #283048;
  }
  
  /*------------------NAVBAR------------------------------------------------------------------------------*/
  /*underline links when hovered upon */
  .nav>li>a {
        transition: border-color .2s;
      -moz-transition: border-color .2s;
      -webkit-transition: border-color .2s;
      -o-transition: border-color .2s;
      border-bottom: solid 3px transparent;
  }
  .nav>li>a:focus, .nav>li>a:hover {
      border-bottom-color: white;
  }
  /*customize dropdown menu interaction */
  .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
      background-color: #eee;
      border-color: transparent;
  }
  /* navbar menu when loggedin */
  ul.dropdown-menu {	/* dropdown menu when logged in*/
      background-color: #aaa;
  }
  .navbar-collapse.in {	/*preventing unwanted scrollbars in collapsed dropdown menu*/
      overflow-y: visible;
  }
  .navbar-login{
      min-width: 250px;
      padding: 10px;
      padding-bottom: 0px;
      color:black;
      background:white;
  }
  .navbar-login-session{
      padding: 10px;
      padding-bottom: 0px;
      padding-top: 0px;
  }
  .icon-size{
      font-size: 83px;
  }
  .dropdown-menu>li>a{
      display: block;
      clear: both;
      font-weight: 400;
      padding: 10px!important;
      line-height: 1.42857143;
      color: black!important;
      background:white!important;
      white-space: nowrap;
  }
  .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
      text-decoration: none;
      color: white!important;
      background: #283048!important; 
  }
  /*This is modifying the btn-primary colors but you could create your own .btn-something class as well*/
  .btn-primary {
      color: white;
      background-color: #283048;
      border-color: gray; /*set the color you want here*/
  }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active ,.btn-primary:active:focus , .open>.dropdown-toggle.btn-primary {
      color: black;
      background-color: #aaa;
      border-color: #adadad;
  }
  /*------------------------------------------------------------------------------------------------*/
  /*-----         login          -----*/
  
  /*login form (put icon inside input field)*/
  /* enable absolute positioning */
  .inner-addon {
   position: relative;
  }
  
  /* style icon */
  .inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  }
  
  /* align icon */
  .left-addon .glyphicon  { left:  0px;}
  .right-addon .glyphicon { right: 0px;}
  
  /* add padding  */
  .left-addon input  { padding-left:  30px; }
  .right-addon input { padding-right: 30px; }
  
  /*------------------------------------------------------------------------------------------------*/
  /*-----         delete          -----*/
  
  #deleteform
  {
    display: inline;
  }
  /*  edit campground route   */
  .form-inline label {
    text-align: right;
    color:#e0e0e0;
  }


/*material-icons configure:*/
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* #009fb7 */
body
{
  color : black;
  /*background-color: #232323 ;*/
background: #283048; 
 /*fallback for old browsers */
 /* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to left, #283048 , #859398); 
 /*W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to left, #283048 , #859398); 

}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v48/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

/*----------------------------------------------*/
pre{
  font-family:arial;
  white-space: pre-wrap;
  background:none;
  border:none;
}

 h5{ /*comments title*/
    margin: 0 0 10px 10px;
}
.pull-right{
	margin-right:15px;
}
.rating{
  color:#ebebeb;
}

/*for countering text overflow in comments text and campground description*/
 div{
   word-wrap:break-word;
 }

 .style10 {  /* comments line  */
	border-top: 1px dotted #8c8b8b;
	border-bottom: 1px dotted #fff;
}
/* div containing list of information about campground (left pane)*/
.infolist{
   z-index: 10; position: fixed;
   right:0;
}
.thumbnail .caption-full
{
  padding: 9px;
}
/*list of amenities in campground*/
.listnana{
  padding:10px 2px 10px 20px;
}
@media (max-width:767px){
    .infolist{
        position:relative;
        z-index:0;
    }
}

@media (min-width: 768px) {
    /* For mobile phones: */
.infolist {  /*make infolist responsive in show page*/
    position: fixed;
    z-index:0;
  }

.container{
     /*to prevent campgrounds from overflowing in profile page */
    width:auto;  
  }
}

/*---------------------------------------------------------------------------------------------------*/
  /*          rating bars         */
  .col-md-1
  {
    padding:0 0 0 10px;
    width:7%;
    color:black;
    display:block;
  }
  .bar-item{
    width:30px;
    color:black;
    display:block;
    padding:0 5px 0 0;
  }
  /*          bar graph styling         */
  .col-md-10.container.horizontal.rounded {
    overflow: hidden;
    float: left;
      /*margin-left:15px;*/
  }
  .horizontal .progress-bar {
    float: left;
    height: 21px;
    width:100px;
    -webkit-box-shadow:none;
    padding:0;
  }
  .color-green {background: rgb(22, 190, 72);}
  .color-orange {background: rgb(255, 159, 0);}
  .color-red {background: rgb(255, 97, 97);}
  .horizontal .progress-track {
    position: relative;  
    height: 7px;
    background: rgb(240, 240, 240); 
    top:6px;
   }
  .horizontal .progress-fill {
    position: relative;
    height: 7px;
  }
  .rounded .progress-track, .rounded .progress-fill {
    border-radius: 3px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
  }
  /*-------------------------------------------------------------------------------------------*/


.author-item .title[data-v-0d757e92] {
    font-weight: 500;
    font-size: 16px;
    padding: 10px 0 10px 20px;
    margin: 0;
    border-bottom: 1px solid #eee;
}
.author-item .card-info .inner[data-v-0d757e92] {
    float: left;
    color: #999;
    width: 86px;
    font-size: 14px;
    margin: 0 3px;
}
* {
    box-sizing: border-box;
}
.left[data-v-534aa174] {
    position: relative;
    float: left;
}
.author-item[data-v-0d757e92] {
    width: 320px;
    height: 176px;
    border: 1px solid #eee;
    border-radius: 4px;
    color: #000;
    font-size: 14px;
    background: #fff;
}
.author-info[data-v-534aa174] {
    margin: 9px 11px 0;
    padding: 0 0 10px;
    overflow: hidden;
    font-size: 12px;
    cursor: pointer;
    color: #333;
    display: block;
}
.right[data-v-534aa174] {
    float: left;
    margin: 2px 0 0 15px;
}
.name[data-v-534aa174] {
    margin: 3px 0 0;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
    text-overflow: ellipsis;
}
.name .name-detail[data-v-534aa174] {
    height: 16px;
    line-height: 16px;
}
* {
    box-sizing: border-box;
}
div {
    display: block;
}
body {
    font-size: 14px;
    font-family: -apple-system,SF UI Text,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #333;
    background-color: #fbfbfb;
}
.left-img img[data-v-534aa174] {
    border-radius: 50%;
}
.left-img .border-img[data-v-534aa174] {
    border: 1px solid rgba(0,0,0,.15);
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}
.author-item .card-info[data-v-0d757e92] {
    overflow: hidden;
    margin: 8px 20px;
}
.author-item .author-info[data-v-0d757e92] {
    margin: 10px 20px 0;
    padding: 0 0 10px;
    overflow: hidden;
    border-bottom: 1px solid #eee;
}
.left-card[data-v-f71fb898] {
    float: left;
    margin-top: 20px;
    width: 200px;
}
.right-card[data-v-f71fb898] {
    float: right;
    width: 1000px;
    margin-top: 20px;
}
.card-note[data-v-f71fb898] {
    width: 1350px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 50px auto 50px;
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 150px;
    margin-left: auto;
    padding-bottom: 36px;
}
.white-space-pre {
    white-space: pre-wrap;
}

</style>


<html>
  <div data-v-f71fb898 data-v-70f39e76 class="card-note">
  <div data-v-f71fb898="" class = "left-card">
    <div data-v-0d757e92="" data-v-f71fb898="" class="author-item bottom-gap">
      <h3 data-v-0d757e92="" class="title">Post's Author</h3> <span data-v-534aa174="" data-v-0d757e92="" class="author-info">
        <div data-v-534aa174="" class="left">
          <div data-v-534aa174="" class="left-img"><img data-v-534aa174=""
              src= "<%= post.author.image %>"
              style="width: 50px; height: 50px;"> </div> 
        </div>
        <div data-v-534aa174="" class="right" style="width: 190px;">
          <h6 data-v-534aa174="" class="name" style="font-size: 16px;"><span data-v-534aa174=""
              class="name-detail"><a href="/users/<%= post.author.id %>"><%= post.author.username %></a></span> <i data-v-534aa174="" class="level-detail"
              style="background-image: url(&quot;https://s4.xiaohongshu.com/static/throne/property/f11_v2.png&quot;);"></i>
          </h6>
          <% if (post.author.username == "elaine") {%>
          <p data-v-534aa174="" class="brief" style="font-size: 14px;color: #999;">I'm foodie</p>
          <% } %>

          <% if (post.author.username == "kyle") {%>
          <p data-v-534aa174="" class="brief" style="font-size: 14px;color: #999;">Member of Binary 4.0</p>
          <% } %>
          <% if (post.author.username == "harui") {%>
          <p data-v-534aa174="" class="brief" style="font-size: 14px;color: #999;">hahaha</p>
          <% } %>
        </div>
        <!---->
      </span>
      <div data-v-0d757e92="" class="card-info">
        <div data-v-0d757e92="" class="inner"><span data-v-0d757e92="">Posts</span> <span data-v-0d757e92=""
            class="note"><%= count %></span></div>
        <div data-v-0d757e92="" class="inner"><span data-v-0d757e92="">Likes</span> <span data-v-0d757e92=""
            class="fans"><%= likes %></span></div>
        <div data-v-0d757e92="" class="inner"><span data-v-0d757e92="">+ Contact</span> <span data-v-0d757e92=""
            class="fans"><button class="bt btn-link"><a href="https://www.facebook.com/<%= post.author.instagramaccount%>" target="_blank">Add friend</a></button></span></div>
            
      </div>
      <br>
        <div class="list-group">
            <script>
                function separatetags(tagstring) {
                    tagstring = tagstring.split(/\s+/); 
                    return tagstring
                }
            </script>
          <!-- <li class="list-group-item">Would you recommend (0-10): <%= post.rating %></li> -->
          <li class="list-group-item">Post Category: <%= post.postType %></li>
          <% if (post.tags){ %>
          <li class="list-group-item">Tags: <a href="http://localhost:5000/posts?search=<%= post.tags.split(" ")[0]%>"><%= post.tags.split(" ")[0]; %> 
            <a href="http://localhost:5000/posts?search=<%= post.tags.split(" ")[1]%>"><%= post.tags.split(" ")[1];  %>
            <a href="http://localhost:5000/posts?search=<%= post.tags.split(" ")[2]%>"><%= post.tags.split(" ")[2];  %></a></li>
          <% } %>
            <% if (post.postType == "RestaurantReview" ){ %> 
          <li class="list-group-item">Restaurant Location: <%= post.location %>
            <% if (post.location !== "" ){ %>
          <button class="btn btn-link"><a href="https://www.google.com/maps/search/<%= post.location%>" target="_blank">View Map</a></button></li>
          <% } %>
          <% } %>

          <% if (post.postType == "HangOut" ){ %>
          <li class="list-group-item">Meet Time: <%= post.meetTime %>
            </li>
            <li class="list-group-item">Meet Location: <%= post.meetLocation %>
              <% if (post.meetLocation !== "" ){ %>
              <button class="btn btn-link"><a href="https://www.google.com/maps/search/<%= post.meetLocation%>" target="_blank">View Map</a></button></li> 
          <% } %>
          <% } %>
        </div>
        <br> <br>
        <% if (currUser && post.author.id.equals(currUser._id)) {%>
        <button class="btn profile-edit-btn btn-success"><a href="/posts/edit/<%= post.id%>">Edit Post</a></button>
        <br> <br>
        <form class="delete-form" action="/posts/<%= post.id %>?_method=DELETE" method="POST">
          <button class="btn btn-danger btn-sm">Delete</button>
        </form>
        <% } %>
        <div>
        </div>
    </div>
  </div>

<div data-v-f71fb898="" class="right-card">
  <div class="col-md-9">
    <div class="thumbnail">
      <div class="caption">
        <div class="fakeimg center">
          <img src="<%= post.image %>" class="gallery-image" alt=""
          style="margin-left: auto; display: block;
          margin-right: auto;
          width: 100%;">
          </div>
          <div><p></p></div>
        <h2><%= post.title %></h2>
        <hr>
        <div class="pull-right">
          <span>Total likes: <i class="fas fa-heart" style="color: red"></i> <%= post.likes.length %></span>
        </div><br>

        <div class="pull-right">
            <span>Total views: <i class="fas fa-eye" style="color: yellowgreen"></i> <%= post.view -1%></span>
          </div>
        <hr>
        <p><b>Description:</b></p>
        <p style="white-space: pre-line"> <%= post.description %> </p>
        <hr>
        <p>
          <em>Submitted By: <a href="/users/<%= post.author.id %>"><strong><%= post.author.username %></strong></a></em>
        </p>
        <p>
          <em><%= post.createdAt %></em>
        </p>
      </div>
    </div>


<!--likes section-->
    <div style="padding-bottom: 10px;" class="text-right">
      <form action="/posts/<%= post._id %>/like" method="POST">
        <div class="btn-group">
          <% if (post.likes.some(function (like) {
              return like.equals(currUser._id)
          })) { %>
          <button class="btn btn-sm btn-primary">
            <i class="fas fa-heart" style = "color: white"></i> Liked 
          </button>
          <% } else { %>
          <button class="btn btn-sm btn-secondary">
            <i class="fas fa-heart"></i> Like 
          </button>
          <% } %>

        </div>
      </form>
    </div>
  
<!--comments section-->
    <div class="well">
      <div class = "row" style="margin:0;">
        <div class="col-md-8">
      <div class="text-left" style="text-align: center;">
        <span>Total comments: <i class="fas fa-comments" style="color: green"></i> <%= post.comments.length%></span>
      </div>
      </div>
      <div class="col-md-4">
      <div class="text-right">
          <a class="btn btn-success" href="/posts/<%= post._id %>/comments/new">Add New Comment</a>
      </div></div>
      </div>
        <hr><br>
      <!-- Comments list -->
      
      <% for(var i = 0; i < post.comments.length; i++){ %>
          <%  var com = post.comments[i]; %>
            <div class="row" style="margin:0;">
              <div class="col-md-8">
                  <% if (com.anony =="Anonymous") {%>  
                <div class="pull-left"><strong><span class="glyphicon glyphicon-user"></span> Anonymous</strong></div>
                <% } else{ %>  
                <div class="pull-left"><strong><span class="glyphicon glyphicon-user"></span><a href="/users/<%= com.author.id %>">   <%=com.author.username%></strong></a></div>
               <% } %>
               <br>
              </div>
              <div class="col-md-4"><span class="pull-right"><%= com.createTime.toISOString().substring(0, 10) %></span></div>
            </div>
            <br>
          <div class="row" style="margin:0">
            <h5><%= com.text %> </h5>
          </div>

          <!-- edit and delete comment buttons: --> 
          <%if(currUser && (com.author.id.equals(currUser._id)|| currUser.username === "ADMIN")){%>
          <div class="row" style="margin-right:0;">
            <div class="pull-right">
                <form id="deleteform" action = "/posts/<%=post._id%>/comments/<%=com._id%>?_method=DELETE" method="POST">
                <button class = "btn btn-xs btn-danger"  >Delete</button>
                </form> 
            </div> 
            <div class="pull-right">
                <a class = "btn btn-xs btn-warning" href="/posts/<%=post._id%>/comments/<%= com._id%>/edit" >Edit</a>
            </div>
          </div>
          <% } %>
          <hr class="style10">
      <% } %><!--end of single comment-->
    </div>
  </div>
  </div>
  </div>
  <div class="well">
  <% include ../partials/footer %>
  
